sudo: required

language: python
python:
  - 3.5

services:
  - docker

install:
  - docker --version
  - docker build -t quantumleap .

script:
  # Client
  - docker-compose -f client/tests/docker-compose.yml up -d
  - sleep 5
  - docker run -ti --rm --network tests_clienttests quantumleap /bin/sh -c "pytest client/tests"
  - docker-compose -f client/tests/docker-compose.yml down
  # Translators
  - docker-compose -f translators/tests/docker-compose.yml up -d
  - sleep 8
  - docker run -ti --rm --network tests_translatorstests quantumleap /bin/sh -c "pytest translators/tests"
  - docker-compose -f translators/tests/docker-compose.yml down
  # Reporter
  - docker-compose -f reporter/tests/docker-compose.yml up -d
  - sleep 8
  - docker run -ti --rm --network tests_reportertests quantumleap /bin/sh -c "pytest reporter/tests"
  - docker-compose -f reporter/tests/docker-compose.yml down
