sudo: required

language: python
python:
  - 3.6

services:
  - docker

install:
  - pip install mkdocs
  - docker --version
  - docker build -t quantumleap .
  - docker-compose -f translators/tests/docker-compose.yml pull --ignore-pull-failures
  - docker-compose -f reporter/tests/docker-compose.yml pull --ignore-pull-failures
  - docker-compose -f geocoding/tests/docker-compose.yml pull --ignore-pull-failures
  - docker-compose -f docker/docker-compose-dev.yml pull --ignore-pull-failures

script:
  - source deps.env
  - sh run_tests.sh

after_success:
    - sh ./deploy_docs.sh

notifications:
  email: false
