language: python
python:
  - 3.8.3

services:
  - docker

install:
  - docker --version
  - pip install pipenv

before_script:
  - pipenv install

script:
  - source setup_dev_env.sh
  - sh run_tests.sh

after_success:
  - coveralls

notifications:
  email: false

env:
  jobs:
    - CRATE_VERSION=3.3.2 QL_PREV_IMAGE=smartsdk/quantumleap:0.5.1 PREV_CRATE=3.3.0
    - CRATE_VERSION=4.0.12 QL_PREV_IMAGE=smartsdk/quantumleap:0.5.1 PREV_CRATE=3.3.5
    - CRATE_VERSION=4.0.12 QL_PREV_IMAGE=smartsdk/quantumleap:0.7.5 PREV_CRATE=3.3.5
    - CRATE_VERSION=4.1.4 QL_PREV_IMAGE=smartsdk/quantumleap:0.7.5 PREV_CRATE=4.0.12
