appdirs==1.4.3
click==6.7
clickclick==1.2.1
connexion==1.1.8
crate==0.19.1
cycler==0.10.0
decorator==4.1.2
Flask==0.12.1
future==0.16.0
geocoder==1.33.0
gevent==1.2.2
greenlet==0.4.12
inflection==0.3.1
influxdb==4.0.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
locust==0.8
locustio==0.8a1
MarkupSafe==1.0
matplotlib==2.0.1
msgpack-python==0.4.8
numpy==1.12.1
packaging==16.8
py==1.4.33
pymongo==3.4.0
pyparsing==2.2.0
pytest==3.0.7
pytest-flask==0.10.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.3
ratelim==0.1.6
requests==2.13.0
rethinkdb==2.3.0.post6
six==1.10.0
swagger-spec-validator==2.1.0
urllib3==1.21
Werkzeug==0.12.1
